/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:600); */
/* * {
    margin: 0;
    padding: 0;
} */
body {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida, Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    /* background-color: #f3f9f1; */
    background-color: #3d3b4f;
    /* background-color: #424c50; */
    /* 隐藏滚动条 */
    /* overflow-x: hidden;     
    overflow-y: hidden; */
    overflow: hidden;
    /* 鼠标默认显示 */
    cursor: url(../cursor.gif), auto!important;
}
/* CSS实现自适应不同大小屏幕的背景大图 https://www.jianshu.com/p/5480cd1a5d89 */
#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}
a, span, button {
    cursor: url(https://mark.dolyw.com/assets/wenkmPlayer/css/link.cur), auto !important;
}
button {
    margin: 18px 18px;
    padding: 15px 18px;
    border-radius: 10px;
    border: 2px solid;
    font: 16px 'Open Sans', sans-serif;
    /* text-transform: uppercase; */
    background: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-family: 微软雅黑;
    /* cursor: url(https://mark.dolyw.com/assets/wenkmPlayer/css/link.cur), pointer; */
}
/* btn-1 */
.btn-1 {
    color: #A3F7BF;
    border-color: #A3F7BF;
    background: -webkit-linear-gradient(left, #a3f7bf, #a3f7bf) no-repeat;
    background: linear-gradient(to right, #a3f7bf, #a3f7bf) no-repeat;
    background-size: 0% 100%;
}
.btn-1:hover {
    background-size: 100% 100%;
    color: #27323A;
}
/* btn-2 */
.btn-2 {
    color: #E4F68F;
    border-color: #E4F68F;
    background: -webkit-linear-gradient(left, #e4f68f, #e4f68f) no-repeat;
    background: linear-gradient(to right, #e4f68f, #e4f68f) no-repeat;
    background-size: 100% 0%;
}
.btn-2:hover {
    background-size: 100% 100%;
    color: #27323A;
}
/* btn-3 */
.btn-3 {
    color: #FFD460;
    border-color: #FFD460;
    position: relative;
    overflow: hidden;
}
.btn-3:before {
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    width: 0;
    height: 100%;
    background-color: #FFD460;
    z-index: -1;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.btn-3:hover {
    color: #27323A;
}
.btn-3:hover:hover:before {
    width: 110%;
}
/* btn-4 */
.btn-4 {
    color: #FFD478;
    border-color: #FFD478;
    position: relative;
    overflow: hidden;
}
.btn-4:before {
    content: "";
    background-color: #FFD478;
    -webkit-transform: skew(45deg, 0);
    transform: skew(45deg, 0);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -30px;
    z-index: -1;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.btn-4:hover {
    color: #27323A;
}
.btn-4:hover:before {
    width: 150%;
}
/* btn-5 */
.btn-5 {
    color: #96EAB7;
    border-color: #96EAB7;
    position: relative;
    overflow: hidden;
}
.btn-5:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -5px;
    width: 110%;
    height: 0;
    background-color: #96EAB7;
    z-index: -1;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.btn-5:hover {
    color: #27323A;
}
.btn-5:hover:before {
    height: 100%;
}
/* btn-6 */
.btn-6 {
    color: #53CDD8;
    border-color: #53CDD8;
    position: relative;
    overflow: hidden;
}
.btn-6:before {
    content: "";
    background-color: #53CDD8;
    position: absolute;
    z-index: -1;
    top: 0;
    right: -30px;
    height: 100%;
    width: 0;
    -webkit-transform: skew(45deg, 0);
    transform: skew(45deg, 0);
    -webkit-transition: all .5s;
    transition: all .5s;
}
.btn-6:hover {
    color: #27323A;
}
.btn-6:hover:before {
    width: 150%;
}
/* btn-7 */
.btn-7 {
    color: #A6ACEC;
    border-color: #A6ACEC;
    overflow: hidden;
    position: relative;
}
.btn-7:before, .btn-7:after {
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    z-index: -1;
    background-color: #A6ACEC;
    top: 0;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.btn-7:before {
    left: 0;
}
.btn-7:after {
    right: 0;
}
.btn-7:hover {
    color: #27323A;
}
.btn-7:hover:before, .btn-7:hover:after {
    width: 50%;
}
/* btn-8 */
.btn-8 {
    color: #ACE7EF;
    border-color: #ACE7EF;
    overflow: hidden;
    position: relative;
}
.btn-8:before, .btn-8:after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 0;
    top: 0;
    background-color: #ACE7EF;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.btn-8:before {
    left: -20px;
    -webkit-transform: skew(-45deg, 0);
    transform: skew(-45deg, 0);
}
.btn-8:after {
    right: -20px;
    -webkit-transform: skew(-45deg, 0);
    transform: skew(-45deg, 0);
}
.btn-8:hover {
    color: #27323A;
}
.btn-8:hover:before, .btn-8:hover:after {
    width: 80%;
}
/* btn-9 */
.btn-9 {
    color: rgb(194, 245, 230);
    border-color: rgb(194, 245, 230);
    overflow: hidden;
    position: relative;
}
.btn-9:before, .btn-9:after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: rgb(194, 245, 230);
    width: 100%;
    height: 0;
    left: 0;
    -webkit-transition: all .25s;
    transition: all .25s;
}
.btn-9:before {
    bottom: 50%;
}
.btn-9:after {
    top: 50%;
}
.btn-9:hover {
    color: #27323A;
}
.btn-9:hover:before, .btn-9:hover:after {
    height: 50%;
}
/* #size {
    display: none;
    font-size: 20px;
}
@media screen and (max-width: 650px) {
    #size {
        font-size: 16px;
    }
}
@media screen and (max-width: 550px) {
    #size {
        font-size: 14px;
    }
}
@media screen and (max-width: 480px) {
    #size {
        font-size: 12px;
    }
} */

.container {
    /* margin-top: 5%; */
    text-align: center;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    /* min-height: 260px; */
    padding-top: 5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 微软雅黑;
    color: rgba(141, 150, 0, 0.6);
}
.container h3 {
    color: rgba(42, 144, 212, 0.6);
    font-weight: bold;
    font-size: 1.35em;
}
.container h4 {
    color: rgb(245, 244, 239);
    font-weight: bold;
    font-size: 1.35em;
}
.noxiao {
    margin-top: 23px;
    margin-bottom: 33px;
}
a {
    text-decoration:none;
}
a:link {
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}
a:active {
    text-decoration:none;
}
.aplayer.aplayer-fixed .aplayer-lrc {
        text-shadow: none;
}
img#logo {
    width: 128px;
    height: 128px;
    background-size: cover;
    border-radius: 200px;
    box-shadow: 0px 0px 40px rgba(63, 81, 181, 0.72);
    border: 3px solid #00a0ff;
    opacity: 1;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 1.0s;
}
#logo:hover {
    box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 19px #fff;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg); /* IE 9 */
    -moz-transform: rotate(360deg); /* Firefox */
    -webkit-transform: rotate(360deg); /* Safari 和 Chrome */
    -o-transform: rotate(360deg); /* Opera */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#br1, #menu2 {
    display: inline;
}

#changeBtn1, #changeBtn2 {
    display: none;
}

/* @media screen and (max-width: 1200px) {
    
} */
@media screen and (max-width: 992px) {
    #br1, #menu2 {
        display: none;
    }
    #changeBtn1, #changeBtn2 {
        display: inline;
    }
}
/* @media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 480px) {
    
} */